/*------------------- JD's styles --------------------------*/

div.title_tutorial{
  position: relative;
	font-weight: bold;
  width: auto;
  height: auto;
  padding: auto;
  margin-right: auto;
  margin-left: auto;
  background-color: #5A5A5A;
	color: #D9D4CC;
	font-size: 20;
	text-align: center;
  border-radius: 15px;
	}

.title {
	position: relative;
  background-color: #565656;
	text-align: center;
	color:#000;
	padding: 10px;
	margin-top: 0px;
	margin-left: 340px;
  width: 500px;
  border-radius: 15px;
}

h3.article {
  background-color: #565656;
	text-align: center;
	color:#000;
	padding: 10px;
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
  width: 930px;
  border-radius: 15px;
}

.log_in {
  background: #C3C3C3;
  border-radius: 15px;
  width: 450px;
  height: 30px;
  position: absolute;
  margin-top: -180px;
  margin-left: 870px;
	text-align: center;
}

.advertisement {
  background: #C3C3C3;
  position: absolute;
  border-radius: 15px;
  width: 450px;
  height: 145px;
  margin-top: -145px;
  margin-left: 870px;
	text-align: center;
}

.index_article {
  background: #C3C3C3;
  position: relative;
  border-radius: 15px;
  width: 950px;
  height: 300px;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
}

.index_article_image {
  position: relative;
  margin-top: -10px;
  margin-left: 10px;
  border-radius: 15px;
}

.index_article_text {
  background: white;
  position: relative;
  padding: 15px;
  margin-top: -10px;
  margin-left: 350px;
  width: 560px;
  height: 215px;
  border-radius: 15px;
}
