/*------------------- JD's styles --------------------------*/
#header {
  background: gray;
  position: relative;
  width: 990px;
	margin-left: auto;
	margin-right: auto;
}

.title_image {
	position: relative;
  background-color: #565656;
	text-align: center;
  width: 50%;
	color:#000;
	padding: 10px;
  -moz-border-radius: 15px;
}

.log_in {
  position: relative;
	text-align: center;
  width: 46%;
  height: 30px;
  margin-top: -180px;
  margin-left: 530px;
}
a.login_links {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 16px;
}
a.login_links:hover {
  text-decoration: none;
  color: red;
  font-size: 16px;
}

.advertisement {
  position: relative;
  background: #C3C3C3;
	text-align: center;
  width: 46%;
  height: 145px;
  margin-top: 5px;
  margin-left: 530px;
  -moz-border-radius: 15px;
}

/*//////////////////////////////*/

div.title_tutorial{
  position: relative;
	font-weight: bold;
  width: auto;
  height: auto;
  padding: auto;
  margin-right: auto;
  margin-left: auto;
  background-color: #5A5A5A;
	color: #D9D4CC;
	font-size: 20;
	text-align: center;
  -moz-border-radius: 15px;
	}


h3.article {
  background-color: #015E93;
	text-align: center;
	color:#000;
	padding: 10px;
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
  width: 930px;
  -moz-border-radius: 15px;
}

.index_article {
  background: #C3C3C3;
  position: relative;
  width: 950px;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
  -moz-border-radius: 15px;
}

.index_article_image {
  background: gray;
  position: relative;
  margin-top: -10px;
  padding-top: 15px;
  margin-bottom: 5px;
  margin-left: 10px;
  width: 250px;
  -moz-border-radius: 15px;
}

.article_image {
  position: relative;
  margin-top: -10px;
  margin-left: 10px;
  -moz-border-radius: 15px;
}

.index_article_text {
  background: white;
  position: relative;
  padding: 15px;
  margin-top: -240px;
  margin-left: 270px;
  width: 640px;
  height: 205px;
  -moz-border-radius: 15px;
}

.menu_project {
  width: 400px;
  height: 100px;
}

.menu_project_image {
  position: relative;
  margin-left: 5px;
  width: 80px;
  height: 80px;
}

.menu_project_text {
  position: relative;
  margin-left: 95px;
  margin-top: -75px;
  width: 300px;
  height: 80px;
}

.project_index {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.projects { 
  float: left;
  border: solid #C3C3C3 2px;
  width: 275px;
  margin-left: 25px;
  margin-bottom: 25px;
  padding-top: 30px;
  padding-bottom: 5px;
  -moz-border-radius: 15px;
}
.project_image { 
  display: block;
  margin-top: -10px;
  margin-left: auto;
  margin-right: auto;
  -moz-border-radius: 15px;
}
.project_caption { 
  background: white;
  position: relative;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  -moz-border-radius: 15px;
  width: 240px;
}

#form_left {
  position: relative;
  margin-left: 0px;
}

#form_right {
  position: relative;
  margin-left: 400px;
  margin-top: -552px;
}

.new_form_container {
  padding-right: 100px;
  padding-left: 100px;
  padding-top: 50px;
}

.edit_form_container {
  padding-bottom: 100px;
  padding-left: 100px;
  padding-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.new_project {
  margin-top: -35px;
  float: right;
}

.images {
  position: relative;
  margin-top: 100px; 
}

