<h1>Home</h1>

<div class="title_tutorial">
My new book, "Arduino Robotics" 
</div>
<p>

<center>
<div id="gallery">

	<img src="images/robotics/cover.jpg" width="800px" />

</center>

<p>

My new book "Arduino Robotics" is finally finished and out for sale. The book is a primer for electronics and robot building and has 10 robotics projects for you to try, complete with pictures, diagrams, schematics, and code examples. 
What's an Arduino you ask? well, it is a tiny little open-source computer chip that can be easily programmed without being a computer programmer - the chip can be re-programmed thousands of times and there are tons of code examples online
for nearly <a href="http://www.duinoaday.co.uk/projects.html">any project</a> that you can think of. I have personally used my Arduino to build anything from a simple home-made clock using alpha-numeric LED's to controlling a home-made segway that I built for my book. If you are at all interested
in building your own robot (big or small), you will enjoy reading this book.

<p>

I enlisted two fellow Arduino hackers to each write a chapter for the book: Chapter 9 - featuring the GPS controlled Robo-boat was written by a friend from Germany, Harald Molle while Chapter 13 - Alternate-control was written by my long-time friend Josh Adams.

<p>
<center>
See/buy the book here: <a href="http://www.amazon.com/Arduino-Robotics-John-David-Warren/dp/1430231831">Arduino Robotics</a>
</center>
<p>
<br>
<p>
