%h1 Projects

- if !current_user.nil?
  .new_project
    = link_to "New Project", new_project_path

.projects
  - @projects.each do |project|
    .project_image
      - if !project.images.empty? 
        = link_to image_tag(project.images.first.attachment.url(:medium), :class => "project_image"), project_path(project)
    .project_caption
      %h3
      = project.name
